*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container-login{
    width: 50%;
    height: 50%;
    display: grid;
    place-items: center;
}

/* body:hover{
    background-color: black;
    color: white;
    transition: all .5s ease-in-out;
} */

h1.logo{
    width: 100%;
    color: #706e6e;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    /*alineacion de elementos con position absolute*/
    position: absolute;
    top: 10vh;
}

.loginFormContainer{
    width: 100%;
    min-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.formLogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    justify-content: center;
}

.actionLogin input[type="submit"]{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #505AF5;
    color: white;
    cursor: pointer;
}

.formLogin input[type="text"],
.formLogin input[type="password"]{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 2px solid grey;
    padding-left: 10px;
    background-color: white;
    color: black;
    text-align: center;
}

.formLogin input[type="text"]:focus,
.formLogin input[type="password"]:focus{
    outline: none;
    padding-left: 1em;
}

.actionLogin{
    min-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
  